.container {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.container img{
    max-height: 80vh;
    margin: 70px 150px 70px 0;
    background: #000;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.containerImg .title {
    display: inline;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    color: rgb(0, 0, 0);
    letter-spacing: 5px;
    font-size: 2.5em;
    font-weight: 800;
    margin: 70px 0 0 0;
}


.containerImg {
  position: relative;
  todth: 100%;
  min-height: 100vh;
  padding: 0 100px;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.containerImg .content {
    margin-bottom: 30px;
  max-width: 550px;
}

.containerImg .content h4 span {
    padding: 2px 5px;
    margin-right: 2px;
    color: #fff;
    display: inline-block;
    border-radius: 5px;
    background: #7206f7;
    margin-left: 10px;
}
.containerImg .content a {
  font-size: 25px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  background: #f7068b;
  padding: 5px;
  border: 2px solid #f7068b;
  border-radius: 5px;
}
.containerImg .content button {
  font-size: 25px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  background: #7206f7;
  margin-bottom: 15px;
  padding: 5px;
  border: 2px solid #7206f7;
  border-radius: 5px;
}

.containerImg .content a:hover {
    background: #7206f7;
    border: 2px solid #7206f7;
    transition: .5s;
}
.containerImg .content button:hover {
    background: #f7068b;
    border: 2px solid #f7068b;
    transition: .5s;
    cursor: pointer;
}


.containerImg .content h3 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  color: rgb(0, 0, 0);
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.containerImg .content p{
    font-size: 1.2em;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.5em;
    color: rgb(0, 0, 0);
    margin: 15px 0 35px;
}
